{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-object-assign",
        "babel-plugin-rewire"
      ]
    }
  }
}
